.home {
    // color: red;
}
.content {
    padding: 0px !important;
}
.thumbnail-slide {
    width: 100%;
    object-fit: cover;
    // height: 800px;
}
.home-banner-slide {
    // margin-bottom: 25px;
    // margin-left: -40px;
    // margin-right: -40px;
}

.site-main {
    padding-left: 40px;
    padding-right: 40px;
    .block-product {
        padding-top: 25px;
        padding-bottom: 25px;

        .block-heading {
        }
        .home-heading {
            margin-bottom: 10px;
            .title {
                margin: 0;
                font-weight: 700;
                font-size: 24px;
                line-height: 36px;
            }
        }

        .block-content {
            .product-items {
                display: block;
                margin-left: -4px;
                margin-right: -4px;
                &:hover .product-item-button-tocart {
                    display: block;
                }
            }
        }
    }
}

// .swatch-option.selected {
//     border: 3px solid #fff;
//     -webkit-box-shadow: #333f48 0 0 0 1px;
//     box-shadow: #333f48 0 0 0 1px;
// }

// // .swatch-attribute-options {
// //     -ms-flex-wrap: wrap;
// //     flex-wrap: wrap;
// //     -webkit-flex-wrap: wrap;
// //     display: -ms-flexbox;
// //     display: flex;
// //     -ms-flex-align: start;
// //     align-items: flex-start;
// // }

// .swatch-option {
//     -webkit-box-sizing: border-box;
//     box-sizing: border-box;
//     border-radius: 1px;
//     text-align: center;
//     min-width: 30px;
//     height: 30px;
//     line-height: 30px;
//     color: #333f48;
//     font-weight: 500;
//     font-size: 14px;
//     margin-right: 8px;
//     margin-bottom: 10px;
//     text-transform: uppercase;
//     border-radius: 100%;
//     cursor: pointer;
//     position: relative;
// }

// .product-item-name {
//     width: 85%;
// }
// .product-item-name {
//     display: block;
//     color: #333f48;
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 1.5;
//     margin: 0 0 4px;
//     overflow: hidden;
//     -o-text-overflow: ellipsis;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     a {
//         color: #333f48;
//     }
//     &:hover a {
//         color: #da291c;
//     }
// }

// .price-box {
//     -ms-flex-wrap: wrap;
//     flex-wrap: wrap;
//     -webkit-flex-wrap: wrap;
//     display: -ms-flexbox;
//     display: flex;
//     min-height: 47px;
// }

.product-items .slick-arrow.slick-prev,
.product-items .slick-arrow.slick-next {
    position: absolute;
    width: 40px;
    height: 40px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    // // background-image: url(https://icons-for-free.com/iconfiles/png/512/next+right+icon-1320166862802397293.png);
    top: 50%;
    margin-top: -16px;
    right: 20px;
    z-index: 10;
    background-color: transparent;
    color: black;
    cursor: pointer;
}
.product-items .slick-prev::before,
.product-items .slick-next::before {
    display: none;
}
.product-items .slick-arrow.slick-next {
    // right: -70px;
}
.product-items .slick-arrow.slick-prev {
    // left: -70px;
}
.product-items .slick-dots li button:before {
    font-size: 15px;
}
.product-items .slick-dots li {
    top: 15px;
}

.slick-prev {
    right: auto;
    left: 20px;
    // -webkit-transform: rotate(180deg);
    // -ms-transform: rotate(180deg);
    // transform: rotate(180deg);
}

.product-items .slick-arrow {
    top: calc((100% - 172px) / 2);
    top: -o-calc((100% - 172px)/ 2);
}

.block-product .product-items .slick-arrow {
    top: calc((100% - 172px) / 2);
    top: -o-calc((100% - 172px)/ 2);
}

a {
    text-decoration: none;
    color: #63b1bc;
}
