.home{
    color: red;
}

.thumbnail-slide {
    width: 100%;
    object-fit: cover;
    // height: 800px;
}
.home-banner-slide{
    // margin-bottom: 25px;
    // margin-left: -40px;
    // margin-right: -40px;

}