.slick{
    // position: relative;
    // height: 40px;
}
.slick-slider {
    //position: absolute;
    height: 40px;
    background-color: #63b1bc;
    text-align: center;
    line-height: 21px;
    color: #fff;
}
.slick-event{
    margin-top: 80px;
}
