.wrapper {
    background: var(--primary);
    height: 80px;
    display: flex !important;
    justify-content: space-between;
    padding: 0 30px !important;
    align-items: center;
    // min-width: 880px;
}

.left {
    display: flex;
    align-items: center;
}

.logo {
    img {
        width: 140px;
        height: 50px;
        object-fit: cover;
    }
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 180px;
    height: 43px;
    border-radius: 20px;
    background-color: var(--secondary);
    margin-left: 70px;
    cursor: pointer;

    svg {
        width: 20px;
        height: 20px;
        position: relative;
        color: var(--white);

        &:before {
            content: '';
            position: absolute;
            width: 1px;
            height: 100%;
            background-color: var(--white);
            color: var(--white);
        }
    }

    .search-title {
        font-size: 1.3rem;
        font-weight: 500;
        user-select: none;
        color: var(--white);
    }
}
@media only screen and (max-width: 600px) {
    .logo {
        display: none;
    }
    .search {
        margin-left: 0px;
    }
}

.content {
    display: flex;
    justify-content: space-between;
}

.right {
    display: flex;
    align-items: center;
}

.sign-in {
    background-color: transparent !important;
    margin-left: 5px;

    svg {
        color: var(--button);
        width: 2rem;
        height: 2rem;
    }
}

.owner-register {
}

//user
.user {
    color: var(--white);
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 12px;
    position: relative;
    z-index: 99;
    &::before {
        content: '';
        position: absolute;
        bottom: -24px;
        left: 0;
        width: 100%;
        height: 32px;
        background-color: transparent;
    }
    .user-avatar {
        width: 30px;
        height: 30px;
        border-radius: 999px;
        margin-right: 4px;
        object-fit: cover;
        object-position: center;
    }
    // .username {
    // }
    .menu-user {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: var(--border-transparent);
        color: var(--black);
        z-index: 1;
        width: 100%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        .menu-item {
            padding-right: 0 !important;
            display: block;
            padding: 12px 20px;
        }
    }
}
.user:hover .menu-user {
    display: block;
}

// mobile right
.btn-bar {
    padding: 4px 8px;
    background-color: var(--button);
    border-radius: 4px;
    outline: none;
    border: 1px solid transparent;
    // display: none;
    svg {
        width: 20px;
        height: 20px;
        color: var(--white);
    }
}
.modal-menu,
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(148, 142, 142, 0.5);
    z-index: 9;
}
.modal-content {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255);
    width: 350px;
    height: 100%;
    // border-radius: 20px;
    overflow: hidden;
    transition: all 0.8s ease;
    z-index: 10;
}
.menu-item {
    user-select: none;
    padding: 20px;
    display: block;

    &:hover {
        background-color: var(--button);
        cursor: pointer;
    }
}
.menu-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    .btn-close {
        background-color: var(--danger);
        display: flex;
    }
}

.cart {
    svg {
        color: var(--button) !important;
        width: 24px;
        height: 24px;
    }
}

.header-menu {
    > ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .ul {
        display: flex;
        // margin: 25px;
        // list-style: none;
        align-items: center;

        > li {
            margin: 0 20px;
            .item {
                color: #6c757b;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                text-transform: uppercase;
                display: block;
                margin-right: 40px;
                text-decoration: none;
                position: relative;
                white-space: nowrap;
                margin: 0;
            }
        }
    }
}

.p-1 {
    padding: 0.25rem !important;
}

.rounded-pill {
    border-radius: 50rem !important;
}

.border {
    border: 1px solid #dee2e6 !important;
}

.bg-none{
    border: none;
}

.input-group {
    /* position: relative; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    height: 30px;
    margin-right: 12px;
    width: 256px;
}

.input-group-append .btn,
.input-group-prepend .btn {
    position: relative;
    z-index: 2;
}
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}
.text-info {
    // color: #17a2b8 !important;
}
.btn-link {
    /* font-weight: 400; */
    color: #007bff;
    text-decoration: none;
}
.btn {
    width: 20px;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 4px 0;
    margin-right: 4px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

.input-group > .custom-select:not(:first-child),
.input-group > .form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group > .custom-file,
.input-group > .custom-select,
.input-group > .form-control,
.input-group > .form-control-plaintext {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.border-0 {
    border: 0 !important;
}
.form-control {
    display: block;
    width: 100%;
    height: 30px;
    // padding: 0.375rem 0.75rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    outline: none;
}
